{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
        </style>
        <title>Passwords</title>
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
        <link rel="stylesheet" href="{% static 'css/passwords.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    </head>
    <body>
        {% include "menu.html" %}

        <div class="page">

            <div class="navbar">
                <div class="nav-title">
                    <a id="hidden"><h1>+</h1></a>
                    <h1>Passwords</h1>
                    <a href="{% url 'add_account' %}" class="key-button">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
                        <i class="fa fa-solid fa-key"></i>
                    </a>
                </div>                
                    <input type="text" name="search" id="search" onKeyUp="Search()" placeholder="Search a password">
            </div>
            
            <div class="content">
                {% if accounts %}
                    {% for account in accounts %}
                    <form method="POST" action="{% url 'delete_accounts' account.id %}" autocomplete="off">
                        {% csrf_token %}
                        <a href="{% url 'password' account.id %}" class="account">
                            <img src="" alt="favicon" class="img-logo" data-account-name="{{ account.website }}">
                            <div class="info">
                                <p class="name">Title : {{ account.title }}</p>
                                <p class="email">Login : {{ account.username }}</p>
                                <p class="password"><span class="password-label">Password : </span><span class="password-text" id="{{account.id}}">{{ account.password }}</span></p>
                            </div>
                            <button type="button" id="btn-hide" class="hide" onclick="decrypting('{{ account.encrypted}}','{{ account.id}}')"><i class="fa-solid fa-eye-slash"></i></button>
                            <button type="submit" id="btn-delete" class="btn1" onclick="return confirm('Are you sure to delete?')"> <i class="fa fa-trash"></i></button>
                        </a>
                    </form>    
                    {% endfor %}
                {% else %}
                    <h4>NO ACCOUNTS</h4>
                {% endif %}
            </div>
        </div>        
            <script src="{% static 'scripts/Search.js'%}"></script>
            <script src="{% static 'scripts/getFavicon.js'%}"></script>
            <script src="{% static 'scripts/btnDelete.js'%}"></script>
            <script src="{% static 'scripts/Hide.js'%}" ></script>
            <script src="{% static 'scripts/Generate_password.js' %}" type="module"></script>
            
            
    </body> 
</html>
 