{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
        </style>
        <title>Passwords</title>
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
        <link rel="stylesheet" href="{% static 'css/passwords.css' %}">
    </head>
    <body>
        <div class="menu">
            <h1 class="logo">SecUrKey</h1>
            <div class="boutons">  
                <a href="" class="active">Passwords</a>
                <a href="{% url 'profile' %}">Profile</a>
            </div>
        </div>

        <div class="page">

            <div class="navbar">
                <div class="nav-title">
                    <a id="hidden"><h1>+</h1></a>
                    <h1>Passwords</h1>
                    <a href="{% url 'add_account' %}" class="cross-button">+</a>
                </div>
                <input type="text" name="search" id="search" placeholder="Search a password">
            </div>
        
            <div class="content">
                <a href="{% url 'password' %}" class="account">
                    <img src="{% static 'images/logo-amazon.png' %}" alt="logo" class="img-logo">
                    <div class="info">
                        <p class="name">Amazon</p>
                        <p class="email">lucas@gmail.com</p>
                    </div>
                </a>
            </div>
        
        </div>
    </body>
</html>