{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
      </style>
    <title>Passwords</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/password.css' %}">
</head>
<body>
    {% include "menu.html" %}
    <div class="page">

        <div class="password-box">
            <div class="title">
                <div class="brand">
                    <img src="{% static 'images/logo-amazon.png' %}" alt="logo">
                    <h1>{{ account.title }}</h1>
                </div>
                <div>
                    <a href="{% url 'passwords' %}" class="cross-button">X</a>
                </div>
            </div>

            <div class="info">
                <h4>Username</h4>
                <div class="edit-field">
                    <p>{{ account.username }}</p>
                    <button class="edit" onclick="UsernamePopup()">Edit</button>
                </div>
            </div>

            <div class="double-info">
                <div class="info">
                    <h4>Password</h4>
                    <div class="edit-field">
                        <p>{{ account.password }}</p>
                        <button class="edit" onclick="PasswordPopup()">Edit</button>
                    </div>
                </div>
                <div class="info">
                    <p>Excellent</p>
                </div>
            </div>

            <div class="info">
                <h4>Website</h4>
                <div class="edit-field">
                    <a href="https://{{ account.website }}" target="_blank">{{ account.website }}</a>
                    <button class="edit" onclick="WebsitePopup()">Edit</button>
                </div>
            </div>

            <div class="double-info">
                <div class="info">
                    <h4>Last Modification</h4>
                    <p>{{ account.last_modification }}</p>
                </div>
                <div class="info">
                    <h4>Creation</h4>
                    <p>{{ account.creation }}</p>
                </div>
            </div>
        </div>

        <div class="popup" id="username-popup">
            <form class="popup-content" action="{% url 'account_username' account.id %}" method="post">
                {% csrf_token %}
                <div class="header">
                    <h1>Edit Username</h1>
                    <button class="close-button" onclick="CloseUsernamePopup()">X</button>
                </div>
                <div class="form-popup">
                    <input type="text" name="username" id="" placeholder="New Username" required>
                </div>
                <button class="black-button" type="submit">Save</button>
            </form>
        </div>

        <div class="popup" id="password-popup">
            <form class="popup-content" action="{% url 'account_password' account.id %}" method="post">
                {% csrf_token %}
                <div class="header">
                    <h1>Edit Password</h1>
                    <button class="close-button" onclick="ClosePasswordPopup()">X</button>
                </div>
                <div class="form-popup">
                    <input type="password" name="password" id="" placeholder="New Password" required>
                </div>
                <button class="black-button" type="submit">Save</button>
            </form>
        </div>

        <div class="popup" id="website-popup">
            <form class="popup-content" action="{% url 'account_website' account.id %}" method="post">
                {% csrf_token %}
                <div class="header">
                    <h1>Edit Website</h1>
                    <button class="close-button" onclick="CloseWebsitePopup()">X</button>
                </div>
                <div class="form-popup">
                    <input type="text" name="website" id="" placeholder="New Website url" required>
                </div>
                <button class="black-button" type="submit">Save</button>
            </form>
        </div>
    
    </div>
    <script src="{% static 'scripts/popup.js' %}"></script>
</body>
</html>