{% if user.is_authenticated %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
        </style>
        <title>Passwords</title>
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %} ">
    </head>
    <body>
        <div class="menu">
            <h1 class="logo">SecUrKey</h1>
            <div class="boutons">  
                <a href="{% url 'passwords' %}">Passwords</a>
                <a href="" class="active">Profile</a>
            </div>
        </div>

        <div class="page">

            <div class="box">
                <div>
                    <button class="image-button" onclick="ImagePopup()"><img class="profile-img" src="{% static 'images/Scar.jpeg' %}" alt=""></button>
                </div>
                <div class="info">
                    <h2 id="title">Profile informations</h2>
                    <div class="params">
                        <p>Username</p>
                        <div class="elts">
                            <p>{{ user.username }}</p>
                            <button class="edit" onclick="UsernamePopup()">Edit</button>
                        </div>
                    </div>
                    <div class="params">
                        <p>Email</p>
                        <div class="elts">
                            <p>{{ user.email }}</p>
                            <button class="edit" onclick="EmailPopup()">Edit</button>
                        </div>
                    </div>
                    <div class="params">
                        <p>Password</p>
                        <div class="elts">
                            <p>********</p>
                            <button class="edit" onclick="PasswordPopup()">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="save-button" onclick="DeletePopup()">Delete Account</button>
                </div>

            </div>

            <div class="popup" id="password-popup">
                <form class="popup-content">
                    <div class="header">
                        <h1>Edit Password</h1>
                        <button class="close-button" onclick="ClosePasswordPopup()">X</button>
                    </div>
                    <div class="form-popup">
                        <input type="password" name="" id="" placeholder="Current Password" required>
                        <input type="password" name="" id="" placeholder="New Password" required>
                        <input type="password" name="" id="" placeholder="Verify New Password" required>
                    </div>
                    <button class="black-button" type="submit">Save</button>
                </form>
            </div>

            <div class="popup" id="email-popup">
                <form class="popup-content">
                    <div class="header">
                        <h1>Edit Email</h1>
                        <button class="close-button" onclick="CloseEmailPopup()">X</button>
                    </div>
                    <div class="form-popup">
                        <input type="email" name="" id="" placeholder="New Email" required>
                        <input type="email" name="" id="" placeholder="Verify New Email" required>
                    </div>
                    <button class="black-button" type="submit">Save</button>
                </form>
            </div>

            <div class="popup" id="username-popup">
                <form class="popup-content" action="{% url 'edit_username' %}" method="post">
                    {% csrf_token %}
                    <div class="header">
                        <h1>Edit Username</h1>
                        <button class="close-button" onclick="CloseUsernamePopup()">X</button>
                    </div>
                    <div class="form-popup">
                        <input type="text" name="username" id="username" placeholder="New Username" required>
                    </div>
                    <button class="black-button" type="submit">Save</button>
                </form>
            </div>

            <div class="popup" id="delete-popup">
                <div class="popup-content">
                    <div class="header">
                        <h1>Delete Account</h1>
                        <button class="close-button" onclick="CloseDeletePopup()">X</button>
                    </div>
                    <div class="form-popup">
                        <h2>Are you sure you want to delete your account ?</h2>
                    </div>
                    <button class="red-button" type="submit">Yes, I want to DELETE my account</button>
                </div>
            </div>

            <div class="popup" id="image-popup">
                <div class="popup-content">
                    <div class="header">
                        <h1>Change Picture</h1>
                        <button class="close-button" onclick="CloseImagePopup()">X</button>
                    </div>
                    <div class="form-popup">
                        <input type="file" accept="image/*"/>
                    </div>
                    <button class="black-button" type="submit">Save</button>
                </div>
            </div>
        
        </div>
        <script src="{% static 'scripts/popup.js' %}"></script>
    </body>
</html>
{% endif %}