{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
        </style>
        <title>Join</title>
        <link rel="stylesheet" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
        <!-- Ajout des scripts nécessaires pour le bon fonctionnement du hachage :  -->
        <script type="text/javascript" src="{% static 'scripts/store_key.js' %}"></script>

    </head>
    <body>
        <h1 class="logo">SecUrKey</h1>
        {% for message in messages %}
            <h4>{{message}}</h4>
        {% endfor %}
        <form action="{% url 'submit_signin' %}" method="post">
            {% csrf_token %}
            <div class="form">
                <input type="text" name="username" id="username" placeholder="Username" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <p>New to SecUrKey ? <span><a href="{% url 'join' %}">Create an account</a></span></p>
            </div> 
            <input type="submit" value="Connect" class="border-button">
        </form>
    </body>
</html>