* {
    padding: 0;
    margin: 0;
}

h1{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: 5%;
}

body {
    padding: 20px;
    height: 500px;
    width: 200px;
    background: linear-gradient(171.32deg, #0E50E3 0%, #143268 100%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 40px;
}

.boutons {
    display: flex;
}

.link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.text{
    position: absolute;
    top: 50vh;
    margin-inline: 50px;
    transform: translateY(-50%);
}

.text p{
    font-size: 50px;
}

.text .link{
    padding: 50px;
}

.text .border-button{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#vault {
    width: 80vw;
    height: 40vw;
    position: absolute;
    top: 15%;
    left: 40%;
    background-image: url("../images/vault.png");
    background-size: contain;
}

#key {
    width: 50vw;
    height: 25vw;
    position: absolute;
    top: 45%;
    left: 35%;
    background-image: url("../images/key.png");
    background-size: contain;
}

button{
    margin-top: 5%;
    background: #0E50E3;
    border: white 2px solid;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.no_input{
    font-size: 13px;
    width: 200px;
    color: red;
    font-weight: 700;
    margin-top: 5%;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rond{
    width: 20px;
    margin-left: 20%;
}