.box {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    background-color: #0E50E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-button {
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 10px;
}

.profile-img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#title {
    padding: 25px;
}

.params {
    padding-top: 20px;
    padding-bottom: 20px;
}

.elts {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.popup {
    width: 75vw;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}