* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(171.32deg, #0E50E3 0%, #143268 100%);
    color: white;
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10vh;
}

.logo {
    font-size: 40px;
}

.boutons {
    display: flex;
}

.link {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.bouton{
    margin-inline: 10px;
    text-align: center;
    padding: 7.5px;
    border-radius: 100px;
    width: 7.5vw;
    color: #0E50E3;
    background-color: white;
}

.main {
    height: 90vh;
}