.filled-button {
    margin-inline: 10px;
    text-align: center;
    padding: 7.5px;
    border-radius: 100px;
    width: 7.5vw;
    color: #0E50E3;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 20vw;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    border: none;
}

#passwordLength{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 4vw;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    border: none;
}

input:active, input:focus {
    outline: none;
}


.save-button {
    text-align: center;
    padding: 7.5px;
    padding-inline: 10px;
    border: 2px solid white;
    border-radius: 100px;
    /* width: 10vw; */
    color: white;
    background-color: rgba(0, 0, 0, 0);
    margin: 50px;
    font-size: 17px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
}

.edit {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-family: "Inter",sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: underline;
}

.form-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-popup input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 20vw;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    border: 2px solid black;
}

.close-button {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    border-radius: 50%;
    font-size: 17px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}

.black-button {
    text-align: center;
    padding: 7.5px;
    border: 2px solid black;
    border-radius: 100px;
    width: 10vw;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    font-size: 17px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
}

.red-button {
    text-align: center;
    padding: 7.5px;
    border: 2px solid red;
    border-radius: 100px;
    padding-inline: 10px;
    color: red;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    font-size: 17px;
    font-family: "Inter",sans-serif;
    font-weight: 500;
}

.popup {
    width: 75vw;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popup-content {
    background-color: white;
    color: black;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

  .key-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 3px solid #0E50E3;
    border-radius: 20px;
    color: #0E50E3;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.5s, top 0.5s;
    position: relative;
    overflow: hidden;
  }

  .key-button:hover .fa-key {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    transform: scale(1.1);
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }

  .key-button.clicked {
    transform: translateY(10px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  }

  .return-back {
    display: inline-block;
    padding: 5px 10px;
    background-color: white;
    border: 5px solid #0E50E3;
    border-radius: 20px;
    color: #0E50E3;
    /*float: right;*/
  }
  
  .return-back:hover {
    color: #FFF; 
    background-color: #0E50E3; 
  }
  

  .border-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: 4px solid #ffffff;
    border-radius: 20px;
    color: #0E50E3;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    /*transition: all 0.5s ease-in-out;*/
    position: relative;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .border-button:hover {
    background-color: #0E50E3;
    color: #ffffff;
  }

  .box {
    position: relative;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .header h1 {
    margin: 0 auto;
    text-align: center;
    line-height: 1.2; 
    padding-top: 20px; 
    padding-left: 45px;
  }

  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }


  .dice-button {
    background-color: #0E50E3;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .dice-button:hover {
    background-color: #fff;
    color: #0E50E3;
  }
  
  .dice-button:hover i {
    animation: roll 0.5s linear;
  }
  
  @keyframes roll {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(360deg);
    }
    75% {
      transform: rotate(540deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  .roll i {
    animation: roll 0.5s linear infinite;
  } 

  #strength-bar{
    background-color: #fff;
    width: 20vw;
    position: relative;
    border-radius: 50px 50px 50px 50px;
  }

  .togglePassword {
    background-color: #0E50E3;
    top: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }

  .togglePassword:hover {
    background-color: #fff;
    color: #0E50E3;
    
  }

  .toggle2FA {
    background-color: #fff;
    top: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }

  .toggle2FA:hover {
    background-color: #fff;
    color: #0E50E3;
    
  }


  .toggleqr {
    background-color: #fff;
    top: 10px;
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }

  #hide {
    display: none;
  }

  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .label {
    margin-bottom: 10px;
  }
  
  .pwd-generation-option-container {
    display:flex;
    align-items: center;
    font-size: 17px;
  }

  .pwd-option-container {
    display:flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .toggleOptionButton {
    background-color: #0E50E3;
    top: 10px;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    margin:10px;
    transition: background-color 0.3s ease-in-out;
  }

  .toggleOptionButton:hover {
    background-color: #fff;
    color: #0E50E3;
    
  }

  .pwd-box {
    background-color: rgba(0, 8, 255, 0.26);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: auto;

  }
