.password-box {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    background-color: #0E50E3;
}

.title {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.brand {
    display: flex;
}

.title img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.title h1 {
    padding-inline: 50px;
}

.info {
    padding-inline: 50px;
    padding-bottom: 50px;
}

.info p {
    font-weight: 300;
}

.info a {
    text-decoration: none;
    color: white;
    font-family: "Inter",sans-serif;
    font-weight: 300;
}

.double-info {
    display: flex;
    justify-content: space-between;
}

.change-button {
    display: flex;
    justify-content: space-around;
}

.save-button {
    text-align: center;
    padding: 7.5px;
    border: 3px solid white;
    border-radius: 100px;
    width: 10vw;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 17px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}

.edit-field {
    display: flex;
}

.edit {
    margin-inline: 50px;
}

#decrypted{
    font-weight: 300;
  }
