.box {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 10px;
    background-color: #0E50E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-button {
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 10px;
}

.profile-img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

#title {
    padding: 25px;
}

.params {
    padding-top: 20px;
    padding-bottom: 20px;
}

.elts {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}